@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    margin:0;
    padding:0;
    background-color: aquamarine;
    font-family: 'Playfair Display', serif;
    height: 100vh;
    display: flex;
    justify-content: center; /*- brings horizontally at center -*/  
    align-items: center; /*-- brings veertically at center --*/
}

.clock{
    position: relative;
    background-color: black ;
    width: 450px;
    height: 450px;
    border-radius: 450px;
    border: 10px solid purple;
    box-shadow: 10px 10px 10px;
    z-index: 1; /* depth */
}

img{
    width: 75px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translate(-50%); /*--transform: translate(+right/-left, +down/-top); --*/
    /* transform: rotate(20deg); */
    z-index: 2;
}

.numbers div{
    position: absolute;
    font-size: 27px;
    color:aquamarine;
    text-shadow: 1px 1px 1px;
    font-weight: bold;
}

.twelve{
    left: 50%;
    transform: translate(-50%);
}

.three{
    left: 100%;
    bottom: 50%;
    transform: translate(-200%);
}
.six{
    /* bottom: 100%; */
    left: 50%;
    top: 100%;
    transform: translate(0,-115%);
}
.nine{
    bottom: 50%;
    left: 2%;
}

.arrows{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.arrows::before{
    content: " ";
    width: 25px;
    height: 25px;
    background-color:fuchsia;
    border-radius: 50%;
    z-index: 4;
}
.arrows div{
    background-color: aliceblue;
    width: 7px;
    position:absolute;
    height: 120px;
    z-index: 3;
    transform-origin: bottom center;
    bottom: 50%;
    border-radius: 50% 50% 0 0;
}
.arrows .hour{
    height: 80px;
    transform: rotate(30deg);
}
.arrows .second{
    /* height: px; */
    transform:rotate(-60deg);
    background-color: goldenrod;
}

